@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: ;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}
.navbar {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
.navbar .navbar-toggler {
  display: none;
}


.intro {
  width: 100%;
  height: 100vh;
  background: url(ff.png) no-repeat center center;
  background-size: cover;
  background-color: #000;
  position: relative;
}

.intro .intro-text{

	top: 50%;
 	left: 50%;
  transform: translate(-50%, -50%);
	position: absolute;
	text-align:center;
	background-color: rgba(0,0,0,0.5);
}
 .intro-text h1{
	color: #fff;
	font-size: 50px;
	text-shadow: 0 2px 0 rgba(0,0,0,0.5);
	width: 100%;
	font-weight: bold;
}

.intro-text span:before{
	content: '';
	animation:animate infinite 8s;
	font-weight: 700;
  	letter-spacing: 2px;
}

@keyframes animate {
	0%{
		content: ' The hidden problem'
	}

	50%{
		content: 'unsustainable'
	}
	100%{
		content: ' luxurious pollution'
	}


}
.container {
  position: relative;
  height: 100vh;
  color: #fff;
}

.container h2 {
  position: absolute;
  font-size: 50px;
  margin-top: 100px;
  margin-left: 50px;
}

.container .intro-con h2{
  background-color: rgba(0,0,0,0.7);
}
.container .intro-con h2{
  color: #fff;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
  font-weight: bold;
}


@media (max-width: 550px) {
  .container h2{
  font-size: 30px;
  margin-top: 100px;
  margin-left: 10px;
  }
}




/*----------------- About section ------------------*/

.about-section{
	background: url(imgD.png) no-repeat left;
  background-size: 55%;
  background-color: #5D8AA8;
  overflow: hidden;
  padding: 150px 0;
  font-family: 'Montserrat', sans-serif;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: /*#fdf9ef  #e8eae6*/#e1e1dd;
  padding: 105.9px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 900;
  color: black;
}

.inner-container h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #002147;
}


.txt{
  font-size: 16px;
  color: #003366;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.us{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
}

.us .cta{
  display: inline-block;
  padding: 10px 30px;
  color: #002147;
  background-color: transparent;
  border: 2px solid #002147;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

.us .cta:hover{
  color: white;
  background-color: #002147;
}

@media screen and (max-width: 1200px) {
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}

a{
  text-decoration: none;

}



/*-- --------------------------Issue section ---------------------*/

#issues .issues{
  flex-direction: column;
  max-width: 1200px;
  height: 250vh;
  margin: 0 auto;
  padding: 100px 0;
}

#issues .section-title{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#issues .issues-header h1{
  margin-bottom: 50px;
}

#issues .all-issues{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200vh;
}

#issues .issue-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#issues .issue-info{
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #6f8094 100%);
  color: white;
}

#issues .issue-info h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

#issues .issue-info p{
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 3px;
}

#issues .issue-img{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#issues .issue-img::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #6f8094 100%);
  opacity: 0.5;
}

#issues .issue-img img{
  transition: 0.3s ease transform;
}

#issues .issue-item:hover .issue-img img{
  transform: scale(1.1);
}


/*----------------- Media query for Tablet/Desktop ----------------*/

@media only screen and (min-width: 768px) {

  h1.section-title{
    font-size: 7rem;
  }

  #issues .issue-item{
    flex-direction: row;
  }

  #issues .issue-item:nth-child(even){
    flex-direction: row-reverse;
  }

  #issues .issue-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #issues .all-issues .issue-info{
    height: 100%;
  }

  #issues .all-issues .issue-img{
    height: 100%;
  }

}

#issues .issue-item{
  flex-direction: row;
}

#issues .issue-item:nth-child(even){
  flex-direction: row-reverse;
}

#issues .issue-item{
  height: 400px;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

#issues .all-issues .issue-info{
  height: 100%;
}

#issues .all-issues .issue-img{
  height: 100%;
}

/*----------------------Action section----------------------*/


#action { 
  background-color: #B8BDBC; 
}

@media (max-width: 550px) {
  #action{
    height: 220vh;
  }
}

@media (max-width: 550px) {
  #action{
    height: 220vh;
  }
}

@media (max-width: 800px) {
  #action{
    height: 220vh;
  }
}
.take-tekst{
  top: 2%;
  left: 40%;
  transform: translate(-2%,-40%);
  position: absolute;
  width: 100%;
 letter-spacing: 1px;

}

.take-action{
  height: 500px;
  width: 100%;
  position: relative;

}


@media (max-width: 550px) {
  .take-tekst{
    top: 0;
    left: 30%;
    font-size: 50%;
  }
}

.take-action .ta{
  height: 200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 20px;
  padding: 20px;
  margin-top: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 550px) {
 .take-action .ta{
  margin-top: 0px;
 }
}

.reduse {
  background-color: rgba(124,124,125,0.4);
  box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.reduse img{
  height: 300px;
  width: 100%;
}

.reuse {
  padding: 20px;
  background-color: rgba(124,124,125,0.4);
  box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.reuse h1{
  margin-bottom: 10px;
}

.reuse p{
  line-height: 1.5
}

.recicle {
  padding: 20px;
  background-color: rgba(124,124,125,0.4);
  box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.recicle h1{
  margin-bottom: 10px;
}

.recicle p{
  line-height: 1.5
}

.research {
  padding: 20px;
  background-color: rgba(125,125,125,0.4);
  box-shadow: 0 20px 50px rgba(0,0,0,.1);
}

.research h1{
  margin-bottom: 10px;
}

.research p{
  line-height: 1.5
}


#contact{
	background-image: url(2.jpg);
  background-size: cover;
  background-position: center;
}

.form{
  width: 85%;
  max-width: 600px;
  background-color: rgba(241,241,241,0.9);
  position: relative;
  top: 80%;
  left: 84%;
  transform: translate(-80%,-84%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}


.contact-form h1{
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.form-input{
  border: 1px solid gray;
  margin:8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.form-input label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.form-input input, .form-input textarea{
  width: 100%;
  border: none;
  background:none;
  outline: none;
  font-size: 14px;
  margin-top: 6px;
}

.btn{
  display: inline-block;
  background-color: #cfa914;
  padding: 14px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;

  }
  .navbar ul li a {
    padding: 0;
  }


  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {

    background-color: transparent;
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
